$tablet: " (max-width: 1023px)";
$desktop: "(min-width: 1024px)";
 .intro {
        background-color: rgb(255, 255, 255);
        margin-top: 40px;
        border-radius: 15px;
        padding: 25px;
        width: 100%;
        box-shadow: 0px 0px 1px 1px rgba(121, 120, 120, 0.525);

        h3 {
          padding: 10px;
          color: black;
        }

        .int-2 {
          display: flex;
          gap: 20px;
          flex-direction: column;

          // font-family: sans-serif;
          // align-items: center;
          button {
            padding: 10px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            background-color: rgb(228, 230, 235);
          }
        }
      }