$tablet: " (max-width: 1023px)";
$desktop: "(min-width: 1024px)";
 .post {
        box-shadow: 0px 0px 1px 1px rgba(121, 120, 120, 0.525);
        background-color: white;
        margin-top: 20px;
        border-radius: 10px;
        .input-div{
            padding: 7px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            form{
              width: 100%;
              input{
                width: 100%;
                padding: 9px;
                border: none;
                border-radius: 20px;
                background-color:rgb(240,242,245);

                background-image: url('https://image.shutterstock.com/image-vector/apple-icon-vector-fruit-symbol-260nw-1466147615.jpg');
                background-size: 20px;
                background-position-x: 90%;
                background-position-y: 50%;
                background-repeat: no-repeat;
                 border-radius: 15px;

            }
            }
            img{
                width: 40px;
                height: 40px;
                border-radius: 50px;
                form{
                  width: 100%;
                }

            }
           
        }
        .li-co{
            display: flex;
            justify-content: space-evenly;
            div{
                width: 33%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;
                padding: 15px;
                cursor: pointer;
                transition: all 0.2s;
                &:hover{
                    background-color: #33333314;
                }
                span{
                    color: #00000099;
                    font-weight: bold;
                    // font-family: sans-serif;
                }
                .bbr{
                    font-size: 20px;
                }
            }
        }
        .bi{
            padding: 15px;
            display: flex;
            align-items: center;
            font-family: serif;
            gap: 8px;
            .bil{
                // fill: coral;
                font-size: 19px;
            }

        }
        .hr-s{
            width: 97%;
            margin: 0 auto;
        }
       
        .pos {
          display: flex;
          justify-content: space-between;
          padding: 15px;

          .pos-1 {
            display: flex;
            gap: 5px;
            // justify-content: space-between;
            img {
              width: 50px;
              height: 50px;
              border-radius: 50%;
            }
            .post-1 {
              display: flex;
              gap: 8px;
              .post-1-1 {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                .sa {
                  color: black;
                  font-weight: bolder;
                }
              }
              .post-1-2 {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
              }
            }
          }
        }
        .post-2 {
          display: flex;
          justify-content: center;
          align-items: center;
          background: linear-gradient(
            to top,
            rgb(255, 255, 255) 0%,
            rgb(255, 255, 255) 50%,
            rgb(176, 177, 177) 50%,
            rgb(150, 153, 153) 100%
          );
          padding: 20px;
          .post-2-2 {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #ffffff;
            border-radius: 50%;
            width: 400px;
            height: 400px;
            @media #{$tablet} {
                width: 300px;
            height: 300px;

                
            }

            img {
              width: 390px;
              height: 390px;
              border-radius: 50%;
              @media #{$tablet} {
                width: 290px;
            height: 290px;

                
            }
            }
          }
        }
      }
    
  

